build/
dist/
nbproject/Makefile-genesis.properties
nbproject/Makefile-impl.mk
nbproject/Makefile-local-default.mk
nbproject/Makefile-variables.mk
nbproject/Package-default.bash
nbproject/private/
nbproject/Makefile-default.mk
/labview_logger/builds/logger.exe/1abvi3w/vi.lib/
.vscode/